*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box  ;
}
h1{
    text-align: center;
}

input,label{
    display: block;
   
}
label{
    color: aquamarine;
}
input{
    width: 100%;
  
}

.bt{
    width: 50%;
    margin: 20px auto 0 auto;
    background-color: blue;
    border-radius: 5px;
}

div{
    min-width: 300px;
    max-width: 500px;
    margin:  auto;
    border: 5px solid #e24141;
    padding: 20px;
}